{{>navbar}}

<div class="col-md-7 mx-auto col-12 px-0 pt-3">
  {{>header title = "SunDial"}}

  <div>
    {{#each users}}
    <h1 id="userH1" data-id={{id}} class="list-group-item">{{firstName}} {{lastName}}</h1>
    {{/each}}
  </div>
   <!-- close navbar nav -->


  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">PROJECT NAME</th>
          <th scope="col">TIME START</th>
          <th scope="col">TIME END</th>
          <th scope="col">TIME SPENT</th>
        </tr>
      </thead>
      <tbody id="instanceDataProjects">
        {{#each instances}}
        <tr id="{{id}}">
          <td>{{projectName}}</td>
          <td data-timein="{{timeIn}}">{{timeIn}}</td>
          <td data-timeout="{{timeOut}}">{{timeOut}}</td>
          <td class="timeSpentProjects"></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>