{{>navbar}}


<div class="col-md-7 mx-auto col-12 px-0 pt-3">
  {{>header title = "SunDial"}}

  <div class="mb-3 pl-1">
    {{#each user}}
    <h1 id={{id}} class="pl-1 py-0 userIDEl">{{firstName}} {{lastName}}</h1>
    {{/each}}
  </div>

  <div class="my-2">
    <button type="button" class="ml-1 px-3 btn startButtonEl">START SHIFT</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">PROJECT NAME</th>
        <th scope="col">TIME START</th>
        <th scope="col">TIME END</th>
        <th scope="col">TIME SPENT</th>
      </tr>
    </thead>
    <tbody id="instanceData">
      {{#each instances}}
      <tr id="{{id}}">
        <td>{{projectName}}</td>
        <td data-timein="{{timeIn}}">{{timeIn}}</td>
        <td data-timeout="{{timeOut}}">{{timeOut}}</td>
        <td class="timeSpent"></td>
      </tr>
      {{/each}}
      <tr>
        <th scope="row">
          <div class="row g-3 align-items-center">

            <div class="btn-group">

              <!-- START MODAL COMPONENT -->
              {{!-- MODAL BUTTON START--}}
              <div>

                {{!-- PROJECT HISTORY DROPDOWN --}}
                {{!-- BUTTONS WITH DROPDOWNS START --}}
                <div class="input-group">
                  <div class="input-group-prepend">
                  
                    <button class="ml-2 rounded projectLineItem histBtn btn btn-outline-secondary dropdown-toggle" type="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Project</button>
                      
                    <div class="dropdown-menu">
                      <ul class="projectDropDownListEl">
                        {{#each projects}}
                        <li class="dropdown-item" id={{id}}>
                          {{projectName}}
                        </li>
                        {{/each}}
                      </ul>
                    </div>

                  </div>
                </div>
                {{!-- BUTTONS WITH DROPDOWNS END --}}

                <div class="text-center">
                  <button type="button" class="createBtn ml-2 btn py-1 px-5" data-toggle="modal"
                    data-target="#exampleModal" data-whatever="@getbootstrap">Create</button>
                </div>

                {{!-- MODAL BUTTON END--}}
                {{!-- ACTUAL MODAL START--}}
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enter New Project Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="billingNum" class="col-form-label">Billing #</label>
                            <input type="text" class="form-control" id="billingNum">
                          </div>
                          <div class="form-group">
                            <label for="newProjectName" class="col-form-label">New Project Name:</label>
                            <input type="text" class="form-control" id="newProjectName">
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="project-submit" type="button" data-dismiss="modal"
                          class="btn modalBtn newProjectBtn">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
                {{!-- ACTUAL MODAL END--}}
                <!-- END Modal -->

              </div>
            </div>
            {{!-- BUTTONS WITH DROPDOWNS END --}}


          </div>
        </th>
        {{!-- add dynamic value of start time --}}
        <td class="pr-0 pl-2 lineTimeStartEl">{{lastTimeOut}}</td>
        <td class="px-0 lineTimeEndEl"> --- </td>
        <td class="px-0"><button type="button" class="px-2 mr-1 py-1 mt-1 btn endButtonEl">END/NEXT</button></td>
      </tr>
    </tbody>
  </table>

    <div class="mx-auto text-center">
      <button type="button" class="mx-auto px-5 btn btn-info endShiftButtonEl">CHART TOTALS</button>
    </div>
  
  {{!-- START CHART --}}
  <div>
    <canvas id="myChart" class="w-75 h-75 mt-5 mx-auto"></canvas>
  </div>
</div>